extends layout

block content
	div.container
		p#captcha
			label captcha:
			input.captcha(type="text",placeholder="please input captcha")
			//- 点击图片刷新验证码(加时间戳避免缓存)
			img(src="/getCaptcha?_"+ (new Date()).getTime() +"")
		span#login verfiy captcha