doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js")
    script(src="/javascripts/main.js")
  body
    block content