doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascript/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascript/libs/bootstrap/css/docs.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/libs/jquery/jquery.min.js')
    script(src='/javascript/libs/bootstrap/js/bootstrap.min.js')
  body
    block content
    block includejs
