<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<h1><%= ip %></h1>
<h1><%= sessionId %></h1>
<h1><%= userName %></h1>
<p>Welcome to xx <%= title %></p>
<form action="/mypost" method="post">
    <input type="text" name="name">
    <input type="submit">
</form>
<div id="socket"></div>
</body>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect();
    socket.on("message", function(time){
        document.getElementById("socket").innerHTML = time;
    })
</script>
</html>
